<script language="javascript" type="text/javascript" src="/assets/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jqplot.canvasAxisLabelRenderer.min.js"></script>
<script type="text/javascript" src="/assets/plugins/jqplot.canvasTextRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/jquery.jqplot.css" />


<div class="row-fluid">
  <div class="span2">
    <div class="well sidebar-nav">
      <table>
        <tr>
          <th align="left">Source Repository</th>
        </tr>

      <% @sources.each do |source| %>
        <tr>
          <td><%= link_to source.name, source %></td>
        </tr>
      <% end %>
      </table>

      <br />
      <hr>

      <%= link_to 'New Source', new_source_path %>
    </div>
  </div>

<% @source_data = Array.new %>
<% @sources.each do |source| %>
<% @source_data.push source.jargon_files.map { |x| x.composite_score } %>
<% end %>


<div class="span10" id='chartdiv' ></div>
<script>
  var j_points = [];
  j_points = <%= @source_data.to_json %>;
  var plot1 = $.jqplot('chartdiv', j_points, {
    title: 'Jargon Trend: All Sources',
    axesDefaults: {
      labelRenderer: $.jqplot.CanvasAxisLabelRenderer
    },
    axes: {
      xaxis: {
        label: "Jargon Files",
        pad: 1
      },
      yaxis: {
        label: "Jargon Score"
      }
    }
  });
</script>
</div>

